# MongoDB配置
MONGO_URI="mongodb://myusername:mypassword@mongo:27017/LightRAG?authSource=admin&directconnection=true"
MONGO_DATABASE="LightRAG"

# Neo4j配置
NEO4J_URI="neo4j://neo4j:7687"
NEO4J_USERNAME="neo4j"
NEO4J_PASSWORD="your_password"

# PostgreSQL配置
POSTGRES_HOST="pg"
POSTGRES_PORT="5432"
POSTGRES_USER="username"
POSTGRES_PASSWORD="password"
POSTGRES_DATABASE="postgres"

# AIPROXY
AIPROXY_API_ENDPOINT="http://aiproxy:3000"
AIPROXY_API_TOKEN="aiproxy"